.width-percent10
{
	width:10%;
}

.width-percent20
{
	width:20%;
}

.width-percent30
{
	width:30%;
}

.width-percent40
{
	width:40%;
}

.width-percent50
{
	width:50%;
}

.width-percent60
{
	width:60%;
}

.width-percent70
{
	width:70%;
}

.width-percent80
{
	width:80%;
}

.width-percent90
{
	width:90%;
}

.width-percent100
{
	width:100%;
}

.height-percent10
{
	height:10%;
}

.height-percent20
{
	height:20%;
}

.height-percent30
{
	height:30%;
}

.height-percent40
{
	height:40%;
}

.height-percent50
{
	height:50%;
}

.height-percent60
{
	height:60%;
}

.height-percent70
{
	height:70%;
}

.height-percent80
{
	height:80%;
}

.height-percent90
{
	height:90%;
}

.height-percent100
{
	height:100%;
}

body{
    background-color: #FFE67F
}

td
{
	background-color:#9CCF64;
}

.table-general
{
	background-color:#EEEEFF;
	width:80%;
	margin:auto;
	margin-top:0px;
	border-color:#000000;
	border-spacing:5px;
}

.list-none{
    list-style-type:none;
}

.big-box{
    line-height: 14px;
}

.small-font{
    font-size: 12px;
}

.position-center{
    align-content:center;
}

.table-format
{
	background-color:#EEEEFF;
	width:100%;
	height:100%;
	margin:auto;
/* 	margin-top:0px; */
	border-color:#000000;
	border-spacing:5px;
	text-align:center
}

.text-usual
{
	text-align:left;
}
.text-center
{
	text-align:center;
}
.text-top
{
    vertical-align: text-top;
}

.table-usual
{
	border-width:3px;
	border-style:double;
	border-color:#000000;
	/* border-spacing:2px; */
	text-align:left;
	/* margin-top:0px; */
}

.user_information
{
	color:#AA1111;
}

.main-title
{
	font-size:24pt;
	color:#FF1111;
}

.error-text{
    color: #FF1111;
}

.list
{
	text-align:left;
}

.link-font
{
	font-family:EngraversGothic BT;
}

.rating-btn{
    width:10px;
}

.spoiler >  input + .box {
	display: none;
}
.spoiler >  input:checked + .box {
	display: block;
}

.horizontal-display{
    float:left;
}

.vertical-display{
    float:none;
}

.question-button{
    display: block;
}