@{
    ViewBag.Title = "Advanced search";
}
<h2>Advanced search</h2>

@Html.ActionLink("Simple search", "Index", "Search")

@using (Html.BeginForm("AdvancedSearch", "Search", FormMethod.Post, new { role = "form" }))
{
    <label for="testQuery">Test name or part of test name <input type="text" name="testQuery" id="testQuery" /></label>
    <label for="authorQuery">Author name <input type="text" name="authorQuery" id="authorQuery" /></label>
    <label for="testtype"><input type="radio" name="TestType" value="all" id="testtype"/>All tests</label>
    <label for="testtype"><input type="radio" name="TestType" value="interviews" id="testtype" />Interviews only</label>
    <label for="testtype"><input type="radio" name="TestType" value="tests" id="testtype" />Tests only</label>

    <label for="before">Created before <input type="datetime-local" name="before" id="before" /></label>
    <label for="after">Created after <input type="datetime-local" name="after" id="after" /></label>
    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-default" value="Search" />
        </div>
    </div>
}