@model TestingService.WebApplication.Models.UserViewModel
@{
    ViewBag.Title = Model.Login + " - User profile";
}

<h4>Login: @Model.Login</h4>
<h4>First name: @Model.FirstName</h4>
<h4>Users tests:</h4>

